*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(assets/bg.jpg);
    background-size: cover; /* The image covers the entire area */
    background-repeat: no-repeat;/* The image is not repeated */
    background-attachment: fixed;/*Makes the background image stay fixed when scrolling.*/
    background-position: center;/*Positions the background image at the center of the element.*/
}
#logo{
    height: 77px;
    margin-left: 30px;
    margin-top: 10px;
   
}
.nav{
   margin-top: -50px;
   margin-left: 80vw;
  
}
#btn1{
    margin-right: 10px;
    padding: 8px 20px;
    text-align: center;
    background-color: #0F5730;
    color: #ffff;
    border-radius: 3px;
    border: 1px solid black;
}
